@model ResumeManager.Models.UserApp

@{
    ViewData["Title"] = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
<h4>UserApp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label">Select City</label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityList">
                <option>---Select City---</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label mt-3">Gender</label>
                @foreach(var item in Model.Genderlist){
                <div class="form-check form-check-inline">
                 <input class="form-check-input" type="radio" asp-for="GenderId" value=@item.Value>
                <label class="form-check-label" for="inlineRadio1">@item.Text</label>
                </div>
                }
            </div>

            <div class="form-group">
                <label class="control-label mt-3">Interest</label><br />
                @for(int i =0;i<Model.Interestlist.Count();i++)
                {
                <div class="form-check form-check-inline">
                <input type="hidden" asp-for="@Model.Interestlist[i].Value"/>
                 <input class="form-check-input" type="checkbox" asp-for="@Model.Interestlist[i].Selected">
                <label class="form-check-label" for="inlineRadio1">@Model.Interestlist[i].Text</label>
                </div>
                }
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="ImageId" />
                <input type="file" name="profileImage" class="visually-hidden" id="profileImage" onchange="return uploadImage()" />
                @*<img src="" id="uploadImage" alt="" height="100px" width="100px" />*@
                <div id = "pictureArea">
                    <div id="selectImage" class="imgItem" onclick="return addImage()">
                        <span class="fa fa-plus"></span>
                    </div>
                </div>
            </div>
            <br /><br />
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>

<div id="imageTemplate">
    <div class="imgItem">
        <img src="" class="img-responsive" height="120" width="150" />
        <i class="img-remove-icon fa fa-times" onclick="removeImage(this)" data-imageId="" style="display:none; position:absolute; top:2px; right:4px;"></i>
    </div>

</div>
<style>
    #pictureArea{
        width:600px;
        background-color: #e9e9e9;
        white-space: nowrap;
        padding:15px 5px;
        display:flex;
        overflow:auto;
        border: 1px solid #ddd;
    }
    #pictureArea .imgItem{
        height:120px;
        width:150px;
        min-width:150px;
        display:inline-flex;
        align-items:center;
        justify-content:center;
        margin:auto 5px;
        background-color: #ffffff;
        border: 1px solid #cacaca;
        cursor:pointer;
        margin-right:10px;
        box-shadow:3px 5px 6px #b5b3b2;
        position:relative;
        overflow:hidden;
    }
    #pictureArea.imgItem span{
        text-align:center;
        font-size:16px;
    }

</style>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
 
<script>

   
         function removeImage(element)
         {
             var imgID = $(element).attr('data-imageId');
             $(element).closest('div').remove();
             $('#selectImage').removeClass('visually-hidden');

         }
        
         function addImage()
         {
            $('#profileImage').trigger('click');
         }
        
        function uploadImage()
        {
        var file = document.getElementById('profileImage').files[0];
       
        var filename = file.name;
        var extension = filename.split('.').pop();
        
        var validateImageExtension = ["png","jpg","jpeg"];
        var isImagevalid = true;
        
        if($.inArray(extension, validateImageExtension)==-1)
        {
            isImagevalid = false;
        }
        
        if(isImagevalid)
        {
            var formData = new FormData();
            formData.append("Image",file);

            $.ajax({

                type: 'POST',
                url: '/Commen/BulkSaveUpload',
                data: formData,
                processData: false,
                contentType: false,

                success: function (response)
                {
                $('#ImageId').val(response.imageId);
                $('#uploadImage').attr('src', 'data:image/png;base64,' +response.filePath);

                var imagHtml = $('#imageTemplate').clone();
                    imagHtml.find('img').attr('src','data:image/png;base64,' +response.filePath);
                    imagHtml.find('i').attr('data-imageId',response.imageId)
                                      .css('display', 'block');
                $('#pictureArea').append(imagHtml.html());
                $('#selectImage').addClass('visually-hidden');
                },
                error: function ()
                {
                    alert(error)
                }

            });
        }
      }
   

    

</script>



